@mixin no-vertical-align {
  top: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

 @mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

 @mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin trans-delay($value...){
  -webkit-transition-delay: $value;
  -ms-transition-delay: $value;
  transition-delay: $value;
}

@mixin transform($value...) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}


@mixin opacity($value...){
  -webkit-opacity: $value;
  -ms-opacity: $value;
  opacity: $value;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
