///*------------------------------------*\
//    #VARIABLES
//\*------------------------------------*/

//font-family
$opensans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

//font-size
$fs-12:      12px;
$fs-13:      13px;
$fs-14:      14px;
$fs-16:      16px;
$fs-18:      18px;
$fs-20:      20px;
$fs-subtit:  18px;
$fs-25:      25px;
$fs-30:      30px;
$fs-32:      32px;
$fs-36:      36px;
$fs-38:      38px;
$fs-40:      40px;
$fs-tit:     46px;
$fs-48:      48px;
$fs-54:      54px;
$fs-60:      60px;

//font-weight

$light:    300;
$regular:  400;
$sbold:    700;
$bold:     800;

//colors
$brand-blue:  #0099ab;
$light-gray:  #b4b4b4;
$white:       #ffffff;
$pink:        #f73469;
$purple:      #4530ba;
$inactive:    #afafaf;
$main-black:  #333333;
$main-gray:   #2a383f;
$main-gray-2: #66666c;

$input-black: $main-black;

$velvet:        #732b8f;
$velvet-light:  #c8aed2;
$blue:          #0187ab;
$blue-light:    #acdadf;
$blue-bullet:   #0099ab;
$blue-sec:      #008898;
$blue-tri:      #006e7b;
$yellow:        #ebb028;
$yellow-light:  #f3e1b7;
$green:         #80b11a;
$green-light:   #ccdda7;