// EXAMPLE

/*
@font-face {
    font-family: 'your-font';
    src: url('../fonts/yourfont.eot');
    src: url('../fonts/yourfont.eot') format('embedded-opentype'),
         url('../fonts/yourfont.woff2') format('woff2'),
         url('../fonts/yourfont.woff') format('woff'),
         url('../fonts/yourfont.ttf') format('truetype'),
         url('../fonts/yourfont.svg') format('svg');
*/